.titleForm {
    background-color: violet;
    color: blueviolet;
    border: solid;
    border-color: aqua;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.formOne {
    background-color:rgb(42, 42, 25) ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.rowForm{
    border: solid;
    border-color: blueviolet;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.selector {
    border: solid;
    border-color: blueviolet;
    border-radius: 0.5rem;

}

.row{
    border: solid;
    border-bottom: 2rem;
    padding: 1rem;
    border-color: rgb(213, 213, 5);
    margin-bottom: 0.1rem;
  
}
.queryInput {
    text-align: center;
    color: aqua;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.input {
    border-color: blueviolet;
    border-radius: 0.5rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inputDescription {
    border-color: blueviolet;
    border-radius: 0.5rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align:start;
    word-wrap: break-word;
    height: 6rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.preview-image{
    width: auto; 
    height: 200px;
    color: black;
}