.divDetail {
    background-color: aquamarine;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: blueviolet;
}

.divDetailOne {
    
    background-color: violet;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: blueviolet ;

}
