
.presentation {
    text-align: center;
}
.nameTitle{
    text-align: center;

}
.dataForm {
    color: blueviolet;
    display: block;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: solid;
    padding: 1rem

}
.pets{
    background-color: violet;
}
.titlePage{
    color: aqua;
}

.pet-card {
    margin-bottom: 1rem;
   color: aqua;
   border: solid;
   background-color: rgb(42, 42, 25);
}
.containerPreviw {
    color: green;

}
.petsCard {
    display: flex;
    width: 100%;
    color: violet;
    background-color: azure;
}
.imgPet {
   
    width: auto; 
    height: 200px;
    color: black;
}
.idPet{
   background-color: rgb(43, 43, 36) ;
   color: aquamarine;
   padding: 2rem;
}
.PetName{
    background-color: rgb(43, 43, 36) ;
     color: aquamarine;
     padding: 1rem;
     margin-top: 1rem;
}
.typePet{
    background-color: rgb(43, 43, 36) ;
    color: aquamarine;
    padding: 1rem;
    margin-top: 1rem;
}
.birthDatePet{
    background-color: rgb(43, 43, 36) ;
    color: aquamarine;
    padding: 1rem;
    margin-top: 1rem;
}
.breedPet{
    background-color: rgb(43, 43, 36) ;
  color: aquamarine;
  padding: 1rem;
  margin-top: 1rem;
}
.pedigreePet{
    background-color: rgb(43, 43, 36) ;
  color: aquamarine;
  padding: 1rem;
  margin-top: 1rem;
}
.descriptionPet {
    background-color: rgb(43, 43, 36) ;
  color: aquamarine;
  padding: 2rem;
  margin-top: 1rem;
  height: 5rem;
}
